[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/
.vscode/
appsettings.Development.json
Debug/
Release/
publish/

node_modules/
.next/
out/
build/
dist/
.npm
*.log
.env
.env*.local

.local-chromium/

.DS_Store
Thumbs.db
desktop.ini
.idea/